<main
  style="height: 83vh"
>
  <p-table
    [value]="value()"
    [tableStyle]="{ 'min-width': '60rem' }"
    style="margin: 0 20px; height: 100%"
    showGridlines
    [scrollable]="true"
    scrollHeight="flex"
    [paginator]="true"
    [rows]="paginationProducts().size"
    [rowsPerPageOptions]="[20]"
    [totalRecords]="paginationProducts().totalElements"
    [loading]="isLoading()"
    [lazy]="true"
    (onLazyLoad)="handlePageChange($event)"
  >
    <ng-template #caption>
      <div style="display: flex; width: 100%; justify-content: space-between">
        <form
          [formGroup]="searchProductForm"
        >
          <p-iconfield iconPosition="left" class="ml-auto">
            <p-inputicon>
              <i class="pi pi-search"></i>
            </p-inputicon>
            <input
              pInputText
              type="text"
              placeholder="Busca un producto"
              formControlName="search"
            />
          </p-iconfield>
        </form>
        <p-button
          icon="pi pi-refresh"
          [raised]="true"
          rounded
          variant="text"
          (click)="onClick()"
        />
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Imagen</th>
        <th></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template #body let-product>
      <tr>
        <td>
          <div
            style="justify-self: center;"
          >
            {{ product.productId }}
          </div>
        </td>
        <td>
          <div
            style="justify-self: center;"
          >
            {{ product.name }}
          </div>
        </td>
        <td>
          {{ product.description }}
        </td>
        <td>
          <div
            style="justify-self: center;"
          >
            {{ product.price | currency: 'Q' }}
          </div>
        </td>
        <td style="justify-self: center;">{{ product.stock }}</td>
        <td>
          <div
            style="justify-self: center;"
          >
            <img
              [src]="product.image"
              [alt]="product.name"
              style="height: 100px; width: 100px; object-fit: contain"
            />
          </div>
        </td>
        <td>
          <div
            style="justify-self: center;"
          >
            <p-button
              label="Actualizar"
              severity="info"
              (click)="update(product)"
            />
          </div>
        </td>
        <td>
          <div
            style="justify-self: center;"
          >
            <p-button
              label="Eliminar"
              severity="danger"
              (click)="delete(product)"
            />
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</main>
<p-toast />
