<main class="main-frame-container">
  <p-menubar [model]="items()">
    <ng-template #item let-item let-root="root">
      <a
        pRipple
        class="flex items-center p-menubar-item-link"
        [routerLink]="item.routerLink"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i *ngIf="item.icon" [ngClass]="item.icon" style="font-size: 1rem; color: #2596be"></i>
        <span>{{ item.label }}</span>
        <p-badge *ngIf="item.badge" [ngClass]="{ 'ml-auto': !root, 'ml-2': root }" [value]="item.badge" />
        <i *ngIf="item.items" [ngClass]="['ml-auto pi', root ? 'pi-angle-down' : 'pi-angle-right']"></i>
      </a>
    </ng-template>
    <ng-template #end>
      <div class="flex items-center gap-2">
        <p-avatar
          size="xlarge"
          [label]="label()"
          shape="circle"
          (click)="op.toggle($event)"
          class="avatar-style"
        />
        <p-popover #op>
          <div class="popover-container-style">
            <p-button
              icon="pi pi-home"
              label="Bienvenida"
              variant="text"
              (click)="welcome()"
            />
            <p-button
              icon="pi pi-user"
              label="Perfil"
              variant="text"
              (click)="profile()"
            />
            <p-button
              icon="pi pi-sign-out"
              label="Logout"
              variant="text"
              (click)="logout()"
            />
          </div>
        </p-popover>
      </div>
    </ng-template>
  </p-menubar>
  <router-outlet/>
</main>
