<main
  style="height: 83vh"
>
  <p-table
    [value]="list()"
    [tableStyle]="{ 'min-width': '60rem' }"
    style="margin: 0 20px; height: 100%"
    showGridlines
    [scrollable]="true"
    scrollHeight="flex"
    [paginator]="true"
    [rows]="20"
    [first]="first()"
    [rowsPerPageOptions]="[20]"
    [totalRecords]="paginationCustomer().totalElements"
    [loading]="isLoading()"
    [lazy]="true"
    (onLazyLoad)="handlePageChange($event)"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Estas viendo {first} al {last} de {totalRecords}"
  >
    <ng-template #caption>
      <div style="display: flex; width: 100%; justify-content: space-between">
        <form
          [formGroup]="searchCustomerForm"
        >
          <p-iconfield iconPosition="left" class="ml-auto">
            <p-inputicon>
              <i class="pi pi-search"></i>
            </p-inputicon>
            <input
              pInputText
              type="text"
              placeholder="Busca un cliente"
              formControlName="search"
              [imask]="emailMask"
            />
          </p-iconfield>
        </form>
        <p-button
          icon="pi pi-refresh"
          [raised]="true"
          rounded
          variant="text"
          (click)="onRefresh()"
        />
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th>Correo</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Fecha de nacimiento</th>
        <th>Fecha de registro</th>
        <th>Foto de perfil</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template #body let-customer>
      <tr>
        <td>
          <div
            style="justify-self: center;"
          >
            {{ customer.email }}
          </div>
        </td>
        <td>
          <div
            style="justify-self: center;"
          >
            {{ customer.name }}
          </div>
        </td>
        <td>
          {{ customer.lastName }}
        </td>
        <td>
          <div
            style="justify-self: center;"
          >
            {{ customer.dateOfBirth | date }}
          </div>
        </td>
        <td style="justify-self: center;">{{ customer.creationDate | date }}</td>
        <td>
          <div
            style="justify-self: center;"
          >
            <img
              [src]="customer.profilePhoto"
              [alt]="customer.name"
              style="height: 100px; width: 100px; object-fit: contain"
              (error)="imageHasError($event)"
            />
          </div>
        </td>
        <td>
          <div
            style="justify-self: center;"
          >
            <p-button
              label="Eliminar"
              severity="danger"
              (click)="delete(customer)"
            />
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</main>
<p-toast />
