<main
  style="height: 83vh"
>
  <p-table
    [value]="adminList()"
    [tableStyle]="{ 'min-width': '60rem' }"
    style="margin: 0 20px; height: 100%"
    showGridlines
    [scrollable]="true"
    scrollHeight="flex"
  >
    <ng-template #caption>
      <div style="display: flex; width: 100%; justify-content: space-between; align-content: center">
        <div
          style="display: flex; width: 45%; gap: 15px"
        >
          <form
            [formGroup]="searchAdminForm"
            style="width: 50%"
          >
            <p-iconfield
              iconPosition="left"
              class="ml-auto"
              style="width: 100%"
            >
              <p-inputicon>
                <i class="pi pi-search"></i>
              </p-inputicon>
              <input
                pInputText
                type="text"
                placeholder="Busca un administrador por el usuario"
                formControlName="search"
                style="width: 100%"
                [imask]="searchMask"
              />
            </p-iconfield>
          </form>
          <p-button
            icon="pi pi-plus"
            [raised]="true"
            rounded
            variant="text"
            (click)="add()"
          />
        </div>
        <p-button
          icon="pi pi-refresh"
          [raised]="true"
          rounded
          variant="text"
          (click)="onRefresh()"
        />
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th>Usuario</th>
        <th>Activo</th>
        <th></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template #body let-admin>
      <tr>
        <td>
          <div
            style="justify-self: center;"
          >
            {{ admin.username | titlecase }}
          </div>
        </td>
        <td>
          <div
            style="justify-self: center; word-break: break-word"
          >
            <p-tag
              [value]="admin.isActive ? 'Activo' : 'Desactivado'"
              [severity]="getSeverity(admin.isActive)"
            />
          </div>
        </td>
        <td>
          <div
            style="justify-self: center;"
          >
            <p-button
              label="Cambiar contraseña"
              severity="info"
              (click)="updatePassword(admin)"
              [disabled]="!admin.isActive"
            />
          </div>
        </td>
        <td>
          <div
            style="justify-self: center;"
          >
            <p-button
              label="Desactivar"
              severity="danger"
              (click)="delete(admin)"
              [disabled]="!admin.isActive || isSameUser(admin.username)"
            />
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</main>
<p-toast />
